.tanpa-boottstrap{
    border:none;
    padding:20px;
    font-weight: 800;
    font-size: 3em;
    background-color: blueviolet;
    color: black;
    cursor: pointer;
}

.tanpa-boottstrap:hover{
    background-color: aqua;
    color: brown;
    transform: rotateY(2);
    transition: all .5s;
}